<form method="post" action="{{ path('app_task_list_delete', {'name': task_list.name}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task_list.name) }}">
    <button class="btn">Supprimer <i class="fa fa-trash"></i></button>
</form>
