@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
body {
    background-color: lightgray;
}
.container {
    width: 80vw;
    top: 2rem;
}
.done {
    background-color: green;
}
.todo {
    background-color: yellow;
}
   
